---
import Container from 'src/components/Container.astro'
import Layout from 'src/layouts/Layout.astro'
import { App } from 'src/components/App'
---

<Layout
  title="Tailwind Palette"
  description="A tool to inspect the default Tailwind palette."
>
  <main>
    <Container>
      <App client:idle />
    </Container>
  </main>
</Layout>
