---
export interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
    <style is:global>
      *::-webkit-scrollbar {
        display: none;
      }
      path[data-progress='fill'] {
        stroke-dasharray: 0 138.25;
        transition: stroke-dasharray 0.5s ease;
      }
    </style>
  </head>
  <body class="transition-colors duration-500 bg-white">
    <slot />
  </body>
</html>
